# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

.vscode/settings.json
samples/imgui_pyglet.py
samples/LICENSE
samples/map-sample-image.png
samples/PI_3dLabel.py
samples/PI_Bounds.py
samples/PI_Camera1.py
samples/PI_CommandSim1.py
samples/PI_Control1.py
samples/PI_ExampleGauge.py
samples/PI_FMSUtility1.py
samples/PI_HelloWidget.py
samples/PI_HelloWorld1.py
samples/PI_HotKey1.py
samples/PI_imgui.py
samples/PI_InputOutput1.py
samples/PI_KeySniffer1.py
samples/PI_Listbox.py
samples/PI_ManagePlugins1.py
samples/PI_Map.py
samples/PI_MiniPython.py
samples/PI_MultiProcess.py
samples/PI_Navigation1.py
samples/PI_OpenGL.py
samples/PI_Override1.py
samples/PI_Position1.py
samples/PI_SharedData1.py
samples/PI_SharedData2.py
samples/PI_SimData1.py
samples/PI_TCASOverride.py
samples/PI_TextureDraw.py
samples/PI_TimedProcessing1.py
samples/pyimgui_demowindow.py
samples/README.md
samples/widgetMsgHelper.py
samples/XPListBox.py
samples/ExampleGauge/Gauge.bmp
samples/ExampleGauge/Needle.bmp
samples/ExampleGauge/NeedleMask.bmp
samples/ExampleGauge/Panel.bmp
